<%- include('partials/header/_topLinks.ejs') %>
<main id="user-profile">
    <div class="user-profile-header">
        </script>
        <div>
            <h1><%= services.brandName %></h1>
            <p><%= services.tagline %></p>
        </div>
        <div>
            <a href="/" style="text-align: center;"><i class="fas fa-home"></i> Home</a>
        </div>
    </div>

    <div class="slideshow-outer">
        <% if(services.gallery.length>0){ %>
            <div class="slideshow-container">
                <% for(let i=0; i<3; i++){ %>
                    <div class="mySlides">
                        <img src="data:<%= services.gallery[i].contentType %>;base64,<%= services.gallery[i].img %>" alt="">
                    </div>
                <% } %>
                <% for(let i=0; i<3; i++){ %>
                    <div class="mySlides">
                        <img src="data:<%= services.gallery[i].contentType %>;base64,<%= services.gallery[i].img %>" alt="">
                    </div>
                <% } %>    
            </div>
        <% } %>
    </div>

    <div class="details-page-main">
        <div class="details-col-left">
            <div class="avatar">
                <% if(services.avatar.img){ %>
                    <img src="data:<%= services.avatar.contentType %>;base64,<%= services.avatar.img %>">
                <% } %>
            </div>

            <div class="service">
                <h2>General Service Details</h2>
                <p><span>Established: </span><%= services.establishment %></p>
                <p><span>Phone Number: </span><%= services.phone %></p>
                <p><span>Email Address: </span><%= services.email %></p>
                <p><span>Address: </span><%= services.address %></p>
                <p><span>Address (state): </span><%= services.state %></p>
            </div>

            <div class="addedBy">
                <h2>Service Owner Details</h2>
                <p><span>Owner: </span><%= services.owner %></p>
                <p><span>Profession: </span><%= services.profession %></p>
                <p><span>Experience: </span><%= services.experience %></p>
            </div>
        </div>
        <div class="details-col-right">
            <h2>All services offered</h2>
            <% if(locals.services && services!=undefined){ %>
                <% services.services.forEach(service => { %>
                    <% if(service != null){ %>
                        <div><%= service %></div>
                    <% } %>
                <% }) %>    
            <% } %>
        </div>
    </div>

    <div class="details-page-reviews">
        <div class="reviews">
            <h2>Reviews from customers</h2>
            <div>
                <% if(services.reviews.length==0){ %>
                    <div class="inner">-----No reviews yet-----</div>    
                <% } else { %>
                <% services.reviews.forEach(review => { %>
                    <div class="inner">
                        <i class="fas fa-user"></i>
                        <div>
                            <p class="reviewer-name"><%= review.name %></p>
                            <p class="rate"><span>Rating: &nbsp;</span>
                            <% if(review.rating == 0){ %>
                                <i style="color: red;" class="fas fa-times"></i>
                            <% } else { %>
                                <% for(let i=0; i<review.rating; i++){ %>
                                    <i class="fas fa-star"></i>
                                <% } %> </p>
                            <% } %>
                            <p><%= review.comment %></p>
                        </div>
                    </div>
                <% }) %>
                <% } %>
            </div>
        </div>

        <div class="write-review">
            <h2>Write a review</h2>
            <form action="/service/write-review/<%= services.id %>" method="POST" id="user-write-review">
                <div>
                    <i class="fas fa-user"></i>
                    <input type="text" name="name" placeholder="Enter your name" required>
                </div>
                <div>
                    <i class="fas fa-medal"></i>
                    <label for="rating">Rating: </label>&nbsp;<span style="font-weight: bold;" id="sliderValue">4</span>&nbsp;
                    <input type="range" min="0" max="5" name="rating" value="4" class="slider" required>&nbsp;
                    <script>
                        const slider = document.querySelector('.slider')
                        slider.addEventListener('change', () => document.getElementById('sliderValue').innerText = slider.value)
                    </script>
                </div>
                <div>
                    <i class="fas fa-comment"></i>
                    <input type="text" name="comment" placeholder="Your review" required>
                </div>
                <button type="submit">Post Review</button>
            </form>
        </div>
    </div>

</main>
<footer>
    <%- include('partials/footer/actualFooter.ejs') %> 
