<%- include('partials/header/_topLinks.ejs') %> 
    <%- include('partials/header/titleBar.ejs') %>
    <%- include('partials/header/subTitleBar.ejs') %>
    
    <%- include('partials/modals/login.ejs') %>
    <%- include('partials/modals/signup.ejs') %>
    <%- include('partials/modals/adminLogin.ejs') %>
    
    <main>
        <div class="image-top-main">
            <img src="images/back.jpg" alt="">
        </div>
        <div class="main-details">
            <%- include('partials/content/_listed_services.ejs') %> 
    
            <div class="info-card-section">
                <% for(let i=0; i< services.length; i++){ %>
                    <div class="card" id="card<%= i %>">
                        <h1 class="brand"><%= services[i].brandName %></h1>
                        <p class="name"><%= services[i].owner %></p>
                        <p class="address"><span>Address: </span><%= services[i].address %></p>
                        <div class="call"><i class="fas fa-phone-volume"></i> <%= services[i].phone %></div>
                        <div class="message"><i class="far fa-envelope"></i> <%= services[i].email %></div>
                        <a href="/service/write-review/<%= services[i].id %>" class="button back-black"><i class="far fa-star"></i> Write Review</a>
                        <a href="" class="button back-black"><i class="fas fa-phone-alt"></i> Call Now</a>
                        <a href="/service/get-quotes/<%= services[i].id %>" class="button back-red"><i class="fas fa-dollar-sign"></i> Get Quotes</a>
                    </div>
                <% } %> 
            </div>
        </div>
    </main>

    <%- include('partials/footer/footerCarousel.ejs') %> 
    <%- include('partials/footer/actualFooter.ejs') %> 
