<% const allListedServices = [ 
"Registration Services", 
"Company Compliance", 
"Tax Filling", 
"Audit And Insurance", 
"Taxation Advisory And Personal Advisory", 
"FCRA FEMA NGOs", 
"Valuations", 
"Accounting Services", 
"Investment Planning", 
"GST Return", 
"GST Registration", 
"GST Registration For Foreigners", 
"Cancel GST Registration", 
"Temporary Registration", 
"Income Tax Registration", 
"Company Registration", 
"Private Limited Company", 
"Public Limited Company", 
"Proprietorship Registration", 
"Partnership Registration", 
"LLP Registration", 
"Society Registration", 
"Trust Registration", 
"PF Registration", 
"ESI Registration", 
"MSME Registration", 
"FSSAI Registration", 
"Digital Registration", 
"Patent Registration", 
"Import Export Code", 
"Copyright Registration", 
"Trademark Registration", 
"Trademark Rectification", 
"Trade Mark Objection", 
"Trademark Renewal", 
"Logo Registration", 
"Provisional Patent Registration", 
"Partnership Deed", 
"Company Name Change", 
"Registration Office Change", 
"Add Directors", 
"Remove Directores", 
"Increase Authorized Capital", 
"Shares Transfer", 
"MOA Amendment", 
"Add Partner", 
"Winding Up Company", 
"Winding Up LLP", 
"Filing Of Income Tax", 
"Wealth Tax Returns", 
"TDS Return", 
"ESI Return", 
"Statutory Audits", 
"Tax Audits", 
"Internal And Management Audits", 
"Internal Control Review", 
"Due Diligence", 
"Business And Asset Valuation", 
"System Audit", 
"Risk Assessment And Management", 
"Corporate And Personal Tax Compliance Including Income Tax Assessments", 
"Appeals Before The Commissioner (Appeals)", 
"International And Domestic Tax Planning", 
"Filing Of Income Tax", 
"Wealth Tax Returns Of Residents And Non Residents Individuals", 
"Tax And Tds Services", 
"Domestic And Foreign Companies And Other Entities", 
"Compliance With Law Relating To Indirect Taxes", 
"Personal Financial Planning", 
"Insurance And Pension Planning", 
"Advice On Various Foreign Exchange Matters Under The Act", 
"Trust/Society Formation", 
"Registration U/S 12A And 80G Of Income Tax Act", 
"Registration Under FCRA", 
"Business Valuation", 
"Partnership Valuation", 
"Fair Valuation For IFRS Valuation In Shareholder Disputes", 
"Intangible Asset Valuation", 
"Maintenance Of Statutory Records Registers And Minutes Books", 
"Book Keeping And General Accounting Services", 
"Preparation Of Financial Statements", 
"Payroll Processing", 
"Cash Forecasting Design, Implementation And Review Of Accounting Manuals", 
"Book Keeping And General Accounting Services", 
"Preparation Of Financial Statements", 
"Payroll Processing", 
"Cash Forecasting Design", 
"Implementation And Review Of Accounting Manuals", 
"Life Insurance Policy (LIC)", 
"Public Provident Fund", 
"Mutual Fund", 
"Equity Share", 
"Real Estate Investment", 
"Gold ETF", 
"Post Office Investment", 
"Company Fixed Deposits", 
"Bank Fixed Deposits", 
"Recurring Deposits", 
"Double Accounting System", 
"Economics - Micro", 
"Economics - Macro", 
"Business Studies", 
"Fundamentals Of Accounting", 
"Mercantile Law", 
"General Economics", 
"Quantitative Aptitude", 
"Accounting", 
"Cost Accounting And Financial Management", 
"Advanced Accounting", 
"Taxation", 
"Auditing And Assurance", 
"Business Laws, Ethics And Communication", 
"Information Technology And Strategic Management", 
"Corporate And Other Laws", 
"Advanced Auditing And Professional Ethics", 
"Financial Reporting", 
"Strategic Financial Management", 
"Strategic Cost Management And Performance Evaluation", 
"Corporate And Economic Laws", 
"Direct Tax Laws And International Taxation", 
"Indirect Tax Laws", 
"Risk Management", 
"International Taxation", 
"Economic Laws", 
"Financial Services And Capital Markets", 
"Global Financial Reporting Standards", 
"Multidisciplinary Case Study" 
]; %>



<%- include('partials/header/_topLinks.ejs') %>
    <main id="user-profile">
        <div class="user-profile-header">
            <div>
                <h1 >Hello <%= name %></h1>
                <p>Manage your services here</p>
            </div>
            <div>
                <a id="logoutBtn" onclick="logoutUser()"><i class="fas fa-sign-out-alt"></i> Logout</a>
                <a href="/"><i class="fas fa-home"></i> Home</a>
                <script>
                    function logoutUser(){
                        if(confirm('Are you sure you want to logout? ')) window.location.href = '/logout';
                    };
                </script>
            </div>
        </div>

        <div class="user-profile-main-page">
            <div class="user-profile-form">
                <h2>Register your services</h2>
                <form enctype="multipart/form-data" id="add-service" action="/user/add-service" method="POST" class="user-profile-register-service">
                    <p style="color: white; text-align: center;">Data entered will be shown on the main page as a listing, please fill this form carefully</p>
                    <br>
                    <div>
                        <i class="fas fa-building"></i>
                        <input type="text" name="brandName" placeholder="Name of your organisation" required>
                    </div>
                    <div>
                        <i class="fas fa-star-half-alt"></i>
                        <input type="text" name="tagline" placeholder="Organisation tagline">
                    </div>
                    <script>
                        function updateFileName(e){ e.setAttribute('data-before', e.files[0].name); }
                    </script>
                    <div>
                        <i class="fas fa-image"></i>
                        <input type="file" name="avatar" data-before="Select profile picture" onchange="javascript:updateFileName(this)" required>
                    </div>
                    <div>
                        <i class="fas fa-images"></i>
                        <input id="uploadGalleryImages" accept='image/*' name="galleryImg1" onchange="javascript:updateFileName(this)" type="file" data-before="Select service gallery image 1" required>
                    </div>
                    <div>
                        <i class="fas fa-images"></i>
                        <input id="uploadGalleryImages" accept='image/*' name="galleryImg2" onchange="javascript:updateFileName(this)" type="file" data-before="Select service gallery image 2" required>
                    </div>
                    <div>
                        <i class="fas fa-images"></i>
                        <input id="uploadGalleryImages" accept='image/*' name="galleryImg3" onchange="javascript:updateFileName(this)" type="file" data-before="Select service gallery image 3" required>
                    </div>
                    <div>
                        <i class="fas fa-user-tie"></i>
                        <input type="text" name="owner" placeholder="Name of the owner" required>
                    </div>
                    <div>
                        <i class="fas fa-hourglass-half"></i>
                        <input type="text" name="experience" placeholder="Experience in the field" required>
                    </div>
                    <div>
                        <i class="fas fa-certificate"></i>
                        <input type="text" name="establishment" placeholder="Year of establishment" required>
                    </div>
                    <div>
                        <i class="fas fa-phone-alt"></i>
                        <input type="tel" name="phone" placeholder="Phone number (office/owner)" required>
                    </div>
                    <div>
                        <i class="fas fa-envelope-open-text"></i>
                        <input type="email" name="email" placeholder="Email (service/owner)" required>
                    </div>
                    <% const allProfessions = ["", "CA", "CMA", "CS", "LLB"] %>
                    <% let professions = [] %>
                    <div id="professions">
                        <p style="font-weight: bold; margin-bottom:10px">Choose your profession(s)</p>
                        <div class="inputs">
                            <% for(let i=1; i<allProfessions.length; i++){ %>
                                <label>
                                    <input type="checkbox" name="professions[<%= i %>]" value="<%= allProfessions[i] %>" <%= allProfessions[i].enabled ? "checked" : null %> >
                                    <span><%= allProfessions[i] %></span>
                                </label>
                            <% } %>
                        </div>
                        <input type="text" name="professions[0]" placeholder="Other (if not included above)">
                    </div>                    
                    <div>
                        <i class="fas fa-street-view"></i>
                        <input type="text" name="address" placeholder="Full address of the service" required>
                    </div>
                    <div>
                        <i class="fab fa-font-awesome-flag"></i>
                        <input type="text" name="state" placeholder="Enter your State (only)" required>
                    </div>
                    <script>
                        function toggleList(){
                            const s = document.getElementById('allListedServices')
                            if(s.style.display == 'none') s.style.display = 'block';
                            else s.style.display = 'none';
                        }
                    </script>
                    <div id="togglerButton" onclick="toggleList()" style="cursor: pointer;">
                        <i class="fas fa-file-invoice-dollar"></i>
                        <span style="color: white; font-weight: bold">Choose Your Service(s) &nbsp;</span>
                    </div>
                    <div id="allListedServices">
                        <% let userListedServices = [] %>
                        <% for(let i=0; i<allListedServices.length; i++){ %>
                            <label>
                                <input type="checkbox" name="userListedServices[<%= i %>]" value="<%= allListedServices[i] %>" <%= allListedServices[i].enabled ? "checked" : null %> >
                                <span><%= allListedServices[i] %></span>
                            </label>                            
                            <br>
                        <% } %>
                    </div>                        
                    <button type="submit">Add service</button>
                </form>
            </div>

            <div class="user-profile-cards">
                <h2>Your Already Listed Services</h2>
                <% if(services.length ==0){ %>
                    <h3 style="text-align: center">-----No registered services-----</h3>
                <% } %>

                <% for(let i=0; i<services.length; i++){ %>
                    <div class="user-profile-advert">
                        <p><span>Brand: </span><%= services[i].brandName %></p>
                        <% if(services[i].tagline){ %>
                            <p><span>Tagline: </span><%= services[i].tagline %></p>    
                        <% } %>
                        <p><span>Owner: </span><%= services[i].owner %></p>
                        <p><span>Experience: </span><%= services[i].experience %></p>
                        <p><span>Established: </span><%= services[i].establishment %></p>
                        <p><span>Phone: </span><%= services[i].phone %></p>
                        <p><span>Email: </span><%= services[i].email %></p>
                        <p><span>Profession: </span><%= services[i].professions %></p>
                        <p><span>Address: </span><%= services[i].address %></p>
                        <p><span>State: </span><%= services[i].state %></p>
                        <br>
                        <p class="user-given-services">
                            <span>Services you offer: </span>
                            <% services[i].services.forEach(service => { %>
                                <div><%= service %></div>
                            <% }) %>
                        </p>
                        <div class="avatar">
                            <p>Your service avatar (profile picture)</p>
                            <img src="data:<%= services[i].avatar.contentType %>;base64,<%= services[i].avatar.img %>" alt="service avatar">
                        </div>

                        <% if(services[i].gallery.length>0){ %>
                            <p class="service-gallery-images">Your service gallery images</p>
                            <div class="gallery">
                                <% for(let j=0; j<3; j++){ %>
                                    <img src="data:<%= services[i].gallery[j].contentType %>;base64,<%= services[i].gallery[j].img %>" alt="gallery image">
                                <% } %>    
                            </div>
                        <% } %>

                        <br>
                        <a href="/service/edit/<%= services[i].id %>" class="button back-red" style="background-color: #343c42;"><i class="fas fa-edit"></i> Edit Listing</a>
                        <a onclick="checkServiceDelete()" class="button back-red"><i class="fas fa-trash"></i> Remove Listing</a>
                        <script>
                            function checkServiceDelete(){
                                if(confirm("Are you sure, you wnat to delete this service? ")) window.location.href = "/user/delete-service/<%= services[i].id %>";
                            };
                        </script>
                    </div>
                <% } %>
            </div>
        </div>
    </main>
    
    <footer>
        <%- include('partials/footer/actualFooter.ejs') %> 
