<%- include('partials/header/_topLinks.ejs') %>
    <main id="user-profile">
        <div class="user-profile-header">
            <div>
                <h1 >Hello <%= username %></h1>
                <p>Manage your services here</p>
            </div>
            <div>
                <a id="settingsBtn" onclick=""><i class="fas fa-cog"></i> Settings</a>
                <a id="logoutBtn" onclick="logoutUser()"><i class="fas fa-sign-out-alt"></i> Logout</a>
                <script>
                    function logoutUser(){
                        if(confirm('Are you sure you want to logout? ')) window.location.href = '/logout';
                    };
                </script>
            </div>
        </div>

        <div class="user-profile-main-page">
            <div class="user-profile-form">
                <h2>Register a new service</h2>
                <form id="add-service" action="/user/add-service" method="POST" class="user-profile-register-service">
                    <div>
                        <i class="fas fa-star-half-alt"></i>
                        <input type="text" name="brandName" placeholder="Name of your brand" required>
                    </div>
                    <div>
                        <i class="fas fa-user-tie"></i>
                        <input type="text" name="owner" placeholder="Name of the owner" required>
                    </div>
                    <div>
                        <i class="fas fa-street-view"></i>
                        <input type="text" name="address" placeholder="Full address of the service">
                    </div>
                    <div>
                        <i class="fab fa-font-awesome-flag"></i>
                        <input type="text" name="state" placeholder="Adress (state)" required>
                    </div>
                    <div>
                        <i class="fas fa-briefcase"></i>
                        <input type="text" name="service" placeholder="Name of the service" required>
                    </div>
                    <div>
                        <i class="fas fa-phone-alt"></i>
                        <input type="tel" name="phone" placeholder="Phone number (office/owner)" required>
                    </div>
                    <div>
                        <i class="fas fa-envelope-open-text"></i>
                        <input type="email" name="email" placeholder="Email (service/owner)">
                    </div>
                    <button type="submit">Add service</button>
                </form>
            </div>

            <div class="user-profile-cards">
                <h2>Your Already Listed Services</h2>
                <% if(services.length ==0){ %>
                    <h3 style="text-align: center">-----No registered services-----</h3>
                <% } %>

                <% for(let i=0; i<services.length; i++){ %>
                    <div class="user-profile-advert">
                        <p><span>Brand: </span><%= services[i].brandName %></p>
                        <p><span>Owner: </span><%= services[i].owner %></p>
                        <p><span>Address: </span><%= services[i].address %></p>
                        <p><span>State: </span><%= services[i].state %></p>
                        <p><span>Service: </span><%= services[i].service %></p>
                        <p><span>Phone: </span><%= services[i].phone %></p>
                        <p><span>Email: </span><%= services[i].email %></p>
                        <a href="/admin/delete-service/<%= services[i].id %>" class="button back-red"><i class="fas fa-trash"></i> Remove Service</a>
                    </div>
                <% } %>
            </div>
        </div>
    </main>
    
    <footer>
        <%- include('partials/footer/actualFooter.ejs') %> 
